
<form accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <div>
        <label>Name</label>
        <div>
            <input class="form-input" type="text" name="name" placeholder="Enter your name" required="required">
        </div>
    </div>
    <br>
    <div>
        <label>Email</label>
        <div>
            <input class="form-input" type="email" name="email" placeholder="Enter your email" required="required">
        </div>
    </div>
    <br>
    <div>
        <label>Message</label>
        <div>
            <textarea class="form-input" type="text" name="message" placeholder="" required="required">
            </textarea>
        </div>
    </div>
    <br>
    <input type="hidden" name="utf8" value="✓">
    <button class="form-button" type="submit">SUBMIT</button>

</form>
